<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.foods.mapper.MerchantMapper">


    <select id="login" resultType="com.example.foods.entity.user.Merchant">
        select * from w_merchant where username=#{username} and password=#{password}
    </select>

    <select id="getCategory" resultType="com.example.foods.entity.goods.Category">
        select * from w_category where merchant_id=#{merchantId}
    </select>
</mapper>